config.py
__pycache__
candle_data/
.DS_Store
*.png
bitcoin_direction_prediction.png
ml_model.joblib-good4
ml_model.joblib
ml_model.joblib.good5
ml_model.joblib.good5.1
ml_model.joblib.good5.2
ml_model.joblib-latest
ml_model.joblib.good4
ml_model.joblib.latest
ml_model.joblib-latest2
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
bitcoin_prediction_model.joblib
ml_model_BTC-USDC_ONE_HOUR.joblib
ml_model_BTC-USDC_ONE_HOUR.joblib.temp
cachedir/joblib/sklearn/pipeline/_fit_transform_one/func_code.py
cachedir/joblib/sklearn/pipeline/_fit_transform_one/1a4c110e7f7a1d0cd5eac8e069cb279d/metadata.json
cachedir/joblib/sklearn/pipeline/_fit_transform_one/1a4c110e7f7a1d0cd5eac8e069cb279d/output.pkl
cachedir/joblib/sklearn/pipeline/_fit_transform_one/63d76595651633d565f1188a08bb8548/metadata.json
cachedir/joblib/sklearn/pipeline/_fit_transform_one/63d76595651633d565f1188a08bb8548/output.pkl
cachedir/joblib/sklearn/pipeline/_fit_transform_one/b0bb901b8dc802ebed86ffcd44a5a45f/metadata.json
cachedir/joblib/sklearn/pipeline/_fit_transform_one/b0bb901b8dc802ebed86ffcd44a5a45f/output.pkl
cachedir/joblib/sklearn/pipeline/_fit_transform_one/b804e8364bd9b8da9ac25531316573d3/metadata.json
cachedir/joblib/sklearn/pipeline/_fit_transform_one/b804e8364bd9b8da9ac25531316573d3/output.pkl
ml_model_BTC-USDC_SIX_HOUR.joblib
btc_usdc_one_hour_prediction_model.joblib
ml_model_btc_usdc_one_hour.joblib
btc_usdc_one_hour_prediction_model-100.joblib
btc_usdc_one_hour_prediction_model-50.joblib
btc_usdc_one_hour_prediction_model-150.joblib
btc_usdc_one_hour_prediction_model-200.joblib
ml_model_eth_usdc_one_hour.joblib
eth_usdc_one_hour_prediction_model.joblib
ml_model_btc_usdc_thirty_minute.joblib
btc_usdc_thirty_minute_prediction_model.joblib
ml_model_btc_usdc_five_minute.joblib
btc_usdc_five_minute_prediction_model.joblib
ltc_usdc_one_hour_prediction_model.joblib
ml_model_ltc_usdc_one_hour.joblib
ml_model_sol_usdc_one_hour.joblib
ml_model_xrp_usdc_one_hour.joblib
sol_usdc_one_hour_prediction_model.joblib
xrp_usdc_one_hour_prediction_model.joblib
models/ml_model.joblib-best
models/bch_usdc_one_hour_prediction_model.joblib
models/ml_model_bch_usdc_one_hour.joblib
models
backtest_results/trades_ETH-USDC_2023-01-01_2023-12-31.csv
backtest_results/backtest_metrics.csv
backtest_results/trades_ETH-USDC_2024-01-01_2024-12-31.csv
backtest_results/trades_DOGE-USDC_2024-01-01_2024-12-31.csv
signals/signals_DOGE-USDC_20241121.json
advanced_market_analyzer_BTC-USDC.log
market_analyzer.log
prompt_market.log
.webui_secret_key
market_analysis.txt
market_analyzer.log.1
