config.py
__pycache__
candle_data/
.DS_Store
*.png
bitcoin_direction_prediction.png
ml_model.joblib-good4
ml_model.joblib
ml_model.joblib.good5
ml_model.joblib.good5.1
ml_model.joblib.good5.2
ml_model.joblib-latest
ml_model.joblib.good4
ml_model.joblib.latest
ml_model.joblib-latest2
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
bitcoin_prediction_model.joblib
ml_model_BTC-USDC_ONE_HOUR.joblib
ml_model_BTC-USDC_ONE_HOUR.joblib.temp
