coinbase-advanced-py
numpy
nltk
scikit-learn
pandas
git+https://github.com/TA-Lib/ta-lib-python.git
# in linux do this instead:
# $ python -m pip install TA-Lib
xgboost
imblearn
matplotlib
statsmodels
yfinance
newsapi-python
schedule
websockets<14
openai
tenacity
tweepy